<head>
    <link rel='stylesheet', href='/bower_components/skeleton/css/normalize.css'>
    <link href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' rel='stylesheet'>
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='react-select.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="react-datetime.css">
    <link href='w3.css' rel='stylesheet'>
    <link href='styles.css' rel='stylesheet'>

</head>
<body>
<div class="container">
    <div id="app">
    </div>
</div>
<script src="guid.js"></script>
<script type="text/javascript" src="dispatcher.js"></script>
<script type="text/javascript" src="dist/jquery.js"></script>
<script type="text/javascript" src="RestHelper.js"></script>
<script type="text/javascript" src="LoginStore.jsx"></script>
<script type="text/javascript" src="OperationStore.jsx"></script>
<script type="text/javascript" src="ORStore.jsx"></script>
<script type="text/javascript" src="PatientStore.jsx"></script>
<script type="text/javascript" src="SurgeonStore.jsx"></script>
<script type="text/javascript" src="SurgeryTypeStore.jsx"></script>
<script type="text/javascript" src="ORActionCreator.jsx"></script>
<script type="text/javascript" src="OperationActionCreator.jsx"></script>
<script type="text/javascript" src="SurgeonActionCreator.jsx"></script>
<script type="text/javascript" src="PatientActionCreator.jsx"></script>
<script type="text/javascript" src="LoginActionCreator.jsx"></script>
<script src='app.js'></script>
</body>
